USE [QLBH]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/5/2022 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASP] [char](4) NOT NULL,
	[SL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/5/2022 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGHD] [smalldatetime] NULL,
	[MAKH] [char](4) NULL,
	[MANV] [char](4) NULL,
	[TRIGIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/5/2022 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NULL,
	[DCHI] [varchar](50) NULL,
	[SODT] [varchar](20) NULL,
	[NGSINH] [smalldatetime] NULL,
	[DOANHSO] [money] NULL,
	[NGDK] [smalldatetime] NULL,
	[LOAIKH] [varchar](20) NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C51ED0426] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/5/2022 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NULL,
	[NGVL] [smalldatetime] NULL,
	[SODT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/5/2022 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](4) NOT NULL,
	[TENSP] [varchar](40) NULL,
	[DVT] [varchar](20) NULL,
	[NUOCSX] [varchar](40) NULL,
	[GIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'BC01', 5)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'BC02', 10)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'ST01', 5)
GO
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1001, CAST(N'2006-07-23T00:00:00' AS SmallDateTime), N'KH01', N'NV01', 320000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1002, CAST(N'2006-08-12T00:00:00' AS SmallDateTime), N'KH01', N'NV02', 840000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1003, CAST(N'2006-08-23T00:00:00' AS SmallDateTime), N'KH02', N'NV01', 100000.0000)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [DOANHSO], [NGDK], [LOAIKH]) VALUES (N'KH01', N'Nguyen Van A', N'731 Tran Hung Dao, Q5, TpHCM', N'Nguyen Van A', CAST(N'1960-10-22T00:00:00' AS SmallDateTime), 13060000.0000, CAST(N'2006-07-22T00:00:00' AS SmallDateTime), NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [DOANHSO], [NGDK], [LOAIKH]) VALUES (N'KH02', N'Tran Ngoc Han', N'23/5 Nguyen Trai, Q5, TpHCM', N'0908256478', CAST(N'1974-04-03T00:00:00' AS SmallDateTime), 280000.0000, CAST(N'2006-07-30T00:00:00' AS SmallDateTime), NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DCHI], [SODT], [NGSINH], [DOANHSO], [NGDK], [LOAIKH]) VALUES (N'KH03', N'Tran Ngoc Linh', N'45 Nguyen Canh Chan, Q1, TpHCM', N'0938776266', CAST(N'1980-06-12T00:00:00' AS SmallDateTime), 3860000.0000, CAST(N'2006-08-05T00:00:00' AS SmallDateTime), NULL)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGVL], [SODT]) VALUES (N'NV01', N'Nguyen Nhu Nhut', CAST(N'2006-04-13T00:00:00' AS SmallDateTime), N'0927345678')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGVL], [SODT]) VALUES (N'NV02', N'Le Thi Phi Yen', CAST(N'2006-04-21T00:00:00' AS SmallDateTime), N'0987567390')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGVL], [SODT]) VALUES (N'NV03', N'Nguyen Van B', CAST(N'2006-04-27T00:00:00' AS SmallDateTime), N'0997047382')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [NUOCSX], [GIA]) VALUES (N'BB01', N'But bi', N'cay', N'Viet Nam', 5000.0000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [NUOCSX], [GIA]) VALUES (N'BB02', N'But bi', N'cay', N'Trung Quoc', 7000.0000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [NUOCSX], [GIA]) VALUES (N'BB03', N'But bi', N'hop', N'Thai Lan', 100000.0000)
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [C_SLMUA] CHECK  (([SL]>(0)))
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [C_SLMUA]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [C_NGDK_NGSINH] CHECK  (([NGDK]>[NGSINH]))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [C_NGDK_NGSINH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [C_DVT] CHECK  (([DVT]='cay' OR [DVT]='hop' OR [DVT]='cai' OR [DVT]='quyen' OR [DVT]='chuc'))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [C_DVT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [C_GIABAN] CHECK  (([GIA]>=(500)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [C_GIABAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [DVT] CHECK  (([DVT]='cay' OR [DVT]='hop' OR [DVT]='cai' OR [DVT]='quyen' OR [DVT]='chuc'))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [DVT]
GO
