USE [master]
GO
/****** Object:  Database [QLGV]    Script Date: 11/21/2022 9:45:46 PM ******/
CREATE DATABASE [QLGV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSV\MSSQL\DATA\QLGV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSV\MSSQL\DATA\QLGV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGV]
GO
USE [QLGV]
GO
/****** Object:  Table [dbo].[DIEUKIEN]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEUKIEN](
	[MAMH] [varchar](10) NOT NULL,
	[MAMH_TRUOC] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[MALOP] [char](4) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[MAGV] [char](4) NULL,
	[HOCKY] [tinyint] NULL,
	[NAM] [smallint] NULL,
	[TUNGAY] [smalldatetime] NULL,
	[DENNGAY] [smalldatetime] NULL,
 CONSTRAINT [PK__GIANGDAY__DC3E148F6D6D4F31] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NOT NULL,
	[HOCVI] [varchar](10) NOT NULL,
	[HOCHAM] [varchar](10) NOT NULL,
	[GIOITINH] [varchar](3) NOT NULL,
	[NGSINH] [smalldatetime] NOT NULL,
	[NGVL] [smalldatetime] NOT NULL,
	[HESO] [numeric](4, 2) NOT NULL,
	[MUCLUONG] [money] NOT NULL,
	[MAKHOA] [varchar](4) NOT NULL,
 CONSTRAINT [PK__GIAOVIEN__603F38B15F7B4CAB] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHV] [char](5) NOT NULL,
	[HO] [varchar](40) NULL,
	[TEN] [varchar](10) NULL,
	[NGSINH] [smalldatetime] NULL,
	[GIOITINH] [varchar](3) NULL,
	[NOISINH] [varchar](40) NULL,
	[MALOP] [char](4) NULL,
 CONSTRAINT [PK__HOCVIEN__603F20D02E553114] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUATHI]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUATHI](
	[MAHV] [char](5) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[LANTHI] [tinyint] NOT NULL,
	[NGTHI] [smalldatetime] NULL,
	[DIEM] [numeric](4, 2) NULL,
	[KQUA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC,
	[MAMH] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [varchar](40) NOT NULL,
	[NGAYTLAP] [smalldatetime] NOT NULL,
	[TRGKHOA] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](4) NOT NULL,
	[TENLOP] [varchar](40) NULL,
	[TRGLOP] [char](5) NULL,
	[SISO] [tinyint] NULL,
	[MAGVCN] [char](4) NULL,
 CONSTRAINT [PK__LOP__7A3DE211CA8E8812] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/21/2022 9:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [varchar](40) NOT NULL,
	[TCLT] [tinyint] NOT NULL,
	[TCTH] [tinyint] NOT NULL,
	[MAKHOA] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_DIEUKIEN_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEUKIEN] CHECK CONSTRAINT [FK_DIEUKIEN_MONHOC]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_GIAOVIEN]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_LOP]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOCVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FK_HOCVIEN_LOP]
GO
ALTER TABLE [dbo].[KETQUATHI]  WITH CHECK ADD  CONSTRAINT [FK_KETQUATHI_HOCVIEN] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[KETQUATHI] CHECK CONSTRAINT [FK_KETQUATHI_HOCVIEN]
GO
ALTER TABLE [dbo].[KETQUATHI]  WITH CHECK ADD  CONSTRAINT [FK_KETQUATHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[KETQUATHI] CHECK CONSTRAINT [FK_KETQUATHI_MONHOC]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_KHOA]
GO
USE [master]
GO
